@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Sometype+Mono:wght@400;700&display=swap");
body {
  background: #fff;
  padding: 10px;
  margin: 0;
}
body,
.formatted-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 10px;
  font-family: "Sometype Mono", monospace;
  font-weight: 700;
}
h2 {
  font-weight: 200;
  font-family: "Sometype Mono", monospace;
}
textarea {
  padding: 10px;
  font-size: 20px;
  margin-top: 0;
  border-radius: 10px;
  font-size: 30px;
  background-color: #eee;
  color: #222;
  border: 2px solid #0db1d6;
  width: 80vw;
  font-weight: normal;
}
button {
  margin-top: 40px;
  padding: 15px 15px;
  background-color: #0db1d6;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  font-family: "Sometype Mono", monospace;
  font-size: 15px;
}
button:hover {
  transform: translateY(-5px);
  transition: all 0.3s;
  background-color: #0f9ba0; /* Slightly change color on hover */
  color: white;
}
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-top: 50px;
  border-radius: 0 50px;
  font-size: 30px;
  background-color: #daeaee;
  color: rgb(1, 31, 31);
  border-color: #012831;
  border-style: dotted;
  border-width: 4px;
  width: 80vw;
  font-weight: 400;
}
strong {
  font-weight: 700;
}
#below {
  width: 90vw;
  line-height: 2;
  color: black;
  font-size: 30px;
  font-weight: 200;
  font-family: "montserrat", sans-serif;
}
.text-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
@media only screen and (max-width: 750px) {
  body {
    width: 95vw;
  }
  .text-input {
    width: 80vw;
    margin: 20px;
  }
  textarea {
    width: 50vw;
  }
  h1,
  .text-input,
  h2 {
    margin: none;
  }
}